body {
    background: #f9f9f9;
}

.main {
   -moz-box-shadow: 5px 5px 15px #cccccc, -5px -5px 15px #cccccc, 5px -5px 15px #cccccc, -5px 5px 15px #cccccc;
   -webkit-box-shadow: 5px 5px 15px #cccccc, -5px -5px 15px #cccccc, 5px -5px 15px #cccccc, -5px 5px 15px #cccccc;
   box-shadow: 5px 5px 15px #cccccc, -5px -5px 15px #cccccc, 5px -5px 15px #cccccc, -5px 5px 15px #cccccc;
   filter: progid:DXImageTransform.Microsoft.Shadow(color='#cccccc', Direction=45, Strength=5),
           progid:DXImageTransform.Microsoft.Shadow(color='#cccccc', Direction=135, Strength=5),
           progid:DXImageTransform.Microsoft.Shadow(color='#cccccc', Direction=225, Strength=5),
           progid:DXImageTransform.Microsoft.Shadow(color='#cccccc', Direction=315, Strength=5);
   border-radius: 15px 15px 15px 15px; -moz-border-radius: 15px 15px 15px 15px; -webkit-border-radius: 15px 15px 15px 15px;
   background: #ffffff;
   margin-top: 25px; padding-top: 25px; padding-bottom: 25px;
}

.menu {
   border-radius: 15px 15px 15px 15px; -moz-border-radius: 15px 15px 15px 15px; -webkit-border-radius: 15px 15px 15px 15px;
   background: #f9f9f9; 
   border-style: solid; 
   border-color: #bbbbbb;
   margin-top: 50px; 
   padding-top: 25px; 
   padding-bottom: 25px;
   width: 800px; 
   margin-left: auto; 
   margin-right: auto;
}

.dash-debug-menu__outer, .dash-debug-menu {
    display: none;
}

